<div class="market-header">

  <div class="market-title">
    Fancy Market 2
  </div>

  <div class="price-header">

    <div class="price-col back" style="margin-left: 28px;">
      <div class="title">Yes</div>
      <i class="fa fa-arrow-circle-down backcircle"></i>
    </div>

    <div class="price-col lay">
      <div class="title">No</div>
      <i class="fa fa-arrow-circle-down laycircle"></i>
    </div>

  </div>

</div>

      <th style="  width: 20%;  ">

      </th>


      <th style="width: 10%;text-align: center;">
        <span style="font-size:medium">
          Yes
        </span>
        <br />

        <span>
          <i style="color: #2797e6;" _ngcontent-wqh-c196="" class="back-color fa fa-arrow-circle-down" aria-hidden="true"></i>

        </span>

      </th>

      <th style="width: 10%;text-align: center;">

        <span style="font-size:medium">
          No

        </span>
        <br />
        <span>
          <i style="color: #f994a9;" _ngcontent-wqh-c196="" class="back-color fa fa-arrow-circle-down" aria-hidden="true"> </i>
        </span>
      </th>



    </tr>
  </thead>

</table>


<div *ngFor="let runner of market" class="row align-items-center mb-2 runner-row ">






  <!-- Runner Info (Mobile full width, Desktop 8 cols) -->
  <div class="col-8 col-md-8 runner-info" style="float: left;">

    <a style="    margin-left: -5px;">
      <img src="assets/images/Screenshot_2025-02-17_020603-removebg-preview.png" alt="Company Logo" height="18" width="18"> <br />
      <i class="fas fa-caret-right" style="   margin-top: 4px;"></i>
    </a>


    <div class="d-flex justify-content-between align-items-center">




      <!-- Runner Name -->
      <div class="runner-name text-truncate">
        {{ runner?.RunnerName }}
      </div>

      <!-- Right Side -->
      <div class="d-flex align-items-center ms-2">

        <!-- PnL -->
        <!-- Button -->
        <div class="bookbutton1" style="float: left;">
          Book
        </div>
        <div style="width: 90px; float: left;margin-top:6px"
             class="pnl me-2">
          <span *ngIf="(runner?.Profit ?? 0) > 0" class="profit">
            {{ runner.Profit }}
          </span>
          <span *ngIf="(runner?.Loss ?? 0) < 0" class="loss">
            {{ runner.Loss }}
          </span>
        </div>
      </div>

    </div>

  </div>

  <!-- Prices / Status -->
  <div class="col-4 col-md-4 price-width">

    <!-- Status -->
    <div *ngIf="runner?.MarketStatusStr === 'SUSPENDED' || runner?.MarketStatusStr === 'Ball Running'"
         class="status-box text-center">
      <div class="status-text">
        {{ runner?.MarketStatusStr === 'SUSPENDED' ? 'SUSPENDED' : 'BALL RUNNING' }}
      </div>
    </div>

    <!-- Prices -->
    <div *ngIf="runner?.MarketStatusStr !== 'SUSPENDED' && runner?.MarketStatusStr !== 'Ball Running'"
         class="d-flex justify-content-between mt-2">

      <!-- Back -->
      <div class="price-box back-box text-center flex-fill me-1" style="float: left;margin-right:2px" (click)="showBetSlip(
         runner.SelectionId, runner.RunnerName, 'back', (runner.Backprice || 0), 0, runner.MarketBookID, 'Fancy', (runner.BackSize || 0), 0)">
        <div class="price">{{ runner.Backprice }}</div>
        <div class="size">{{ runner.BackSize }}</div>
      </div>

      <!-- Lay -->
      <div class="price-box lay-box text-center flex-fill ms-1" (click)="showBetSlip(
         runner.SelectionId, runner.RunnerName, 'lay', (runner.Layprice || 0), 0, runner.MarketBookID, 'Fancy', (runner.LaySize || 0), 0)" style="margin-left:2px">
        <div class="price">{{ runner.Layprice }}</div>
        <div class="size">{{ runner.LaySize }}</div>
      </div>

    </div>

  </div>

</div>
