<div class="upperlinks col-lg-12 col-md-12 col-sm-12 scrollmenu">
  <a href="/DashBoard/Index"><i class="fa fa-home" style="font-size:17px;"></i></a>
  <a onclick="LoadDefaultPageInPlay('Inplay')" ondblclick="window.location.href='/DashBoard/Index'">
    <span style="animation: blinker 3s linear infinite; color:forestgreen">In-Play </span>
    <sup id="marketcount" style="font-weight:700; color:forestgreen"></sup>
  </a>
  <a onclick="LoadDefaultPageInPlay('Cricket')">Cricket </a>
  <a onclick="LoadDefaultPageInPlay('Soccer')">Soccer</a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Tennis  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Golf  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Table Tennis  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Snooker  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Basket Ball  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Base Ball  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Ice Hockey  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Politics  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Volley Ball  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Rugby  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Motor Sports  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Ice Hockey  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Darts  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Cycling  </a>
  <a onclick="LoadDefaultPageInPlay('Tennis')">Martial Arts  </a>


</div>


<div style="height: 200px; align-content: center;text-align:center;">
  E-Gaming Coming Soon
</div>

<div class="headingdivagent">
  <span class="headingcaption"><strong>Sport Highlights</strong></span>
</div>
<ul class="inplaymatchheading" *ngIf="eventTypes.length > 0;">
  <li *ngFor="let item of eventTypes">
  <a class="inplaymatchheadinglink ipshead"
     [class.active]="activeCategory === item"
     (click)="setActiveCategory(item)">

    <img [src]="'assets/images/' + normalizeCategory(item) + '.png'" width="30" />
    {{ item }} ({{ getCount(item) }})
  </a>
</li>
</ul>
<div *ngFor="let item of eventTypes">
  <div *ngIf="activeCategory === item"
       class="inplaydatabycategory"
       [id]="'inplaydatafor' + normalizeCategory(item)">

    <div class="inplaydatarow" *ngFor="let match of getMarketsByEventType(item)">

      <i class="fa fa-share-alt" style="float:unset;margin-top:17px"></i>

      <div class="inplaymatchname">
        <i style="float:left;margin-top:7px" class="fa fa-caret-right"
           [style.color]="getCaretColor(match, item === 'Cricket')"></i>

        <a [style.color]="getMatchStatusColor(match)"
           (click)="openMarket(match)">
          {{ match.marketBookName.split('/')[0]?.trim() }}       
        </a>

        <div class="inplaytime">
        {{ addHours(match.orignalOpenDate, 5) | date:'dd-MM-yyyy hh:mm a' }}
        </div>
      </div>

      <ng-container *ngIf="item !== 'Horse Racing' && item !== 'Greyhound Racing'; else racing">
        <div class="inplaymatchbackandlay">
          <div class="inplayback">{{ match?.runners?.[0]?.exchangePrices?.availableToBack?.[0]?.price || '-' }}</div>        
          <div class="inplayback">{{ match?.runners?.[0]?.exchangePrices?.availableToBack?.[1]?.price || '-' }}</div>
          <div class="inplayback">{{ match?.runners?.[0]?.exchangePrices?.availableToBack?.[2]?.price || '-' }}</div>
          <div class="inplaylay">{{ match?.runners?.[1]?.exchangePrices?.availableToLay?.[0]?.price || '-' }}</div>
          <div class="inplaylay">{{ match?.runners?.[1]?.exchangePrices?.availableToLay?.[1]?.price || '-' }}</div>
          <div class="inplaylay">{{ match?.runners?.[1]?.exchangePrices?.availableToLay?.[2]?.price || '-' }}</div>
        </div>
      </ng-container>

      <ng-template #racing>
        <div class="moleucule"
             (click)="openMarket(match)">
          {{ match.sheetName }}
        </div>
      </ng-template>

    </div>

  </div>
</div>

