<div
  class="headingcaption reletedeventbackground">
  Related Event
</div>

<div class="sporthighlightsuldiv2">

  <div class="col-md-12 no-padding">

    <div
      class="inplaydatarow"
      *ngFor="let item of events">

      <i
        class="fa fa-caret-right"

        [style.color]="isPast(item.eventOpenDate) ? 'green' : ''">

      </i>

      <div
        class="inplaymatchnamerelated relatedname"
        [class.past]="isPast(item.eventOpenDate)">

        <a
          (click)="openMarket(item)">

          <ng-container *ngIf="isRace(item); else normal">

            {{ item.eventName }} -
            {{ item.marketCatalogueName }}

          </ng-container>

          <ng-template #normal>

            {{ item.eventName }}

          </ng-template>

        </a>

      </div>

      <div class="relatedtime">

        <span class="relatedspan">

          {{ formatDate(item.eventOpenDate)
            | date:'dd/MM' }}

        </span>

        <br>

        <span class="relatedspan">

          {{ formatDate(item.eventOpenDate || '')
            | date:'hh:mm a' }}

        </span>

      </div>

    </div>

  </div>

</div>