<div *ngFor="let marketbook of marketboos">
  <div style="font-weight: bold; color: white; align-content: center; height: 35px; background: linear-gradient(to top, rgb(0, 255, 138), rgb(0, 0, 0)) " >{{ marketbook?.mname }}

  </div>

 <div class="runner-row col-md-12 col-lg-12" *ngFor="let runner of marketbook?.section; let k = index"  style="background:linear-gradient(to top, #ffffff2b 92%, #00ff451f 53%)">

  <div class="runner-info col-md-8 col-8">
    <div class="runner-name">
      {{ runner.nat }}
      <div 
    class="pnl">
    {{ runner.pnl }}
  </div>
    </div>  
  </div>
 
<div class="col-md-4 col-4 margin position-relative">

  <!-- LOCK OVERLAY -->
  <div class="market-lock"
       *ngIf="runner?.gstatus === 'Suspended'">

    🔒 Suspended

  </div>

  <!-- BACK -->
  <div class="prices-group back-group"
       [class.disabled-market]="runner?.gstatus === 'Suspended'"
      >

    <div class="price-box back-box"
         *ngFor="let back of (isMobile ? (getBackPrices(runner.odds) | slice:0:1) : getBackPrices(runner.odds)); let i = index">

      <div class="price">{{ k }}</div>

      <div class="size">8.85</div>

    </div>

  </div>

  <!-- LAY -->
  <div class="prices-group lay-group"
       style="margin-left: 2px;"
       [class.disabled-market]="runner?.gstatus === 'Suspended'"
      >

    <div class="price-box lay-box text-center flex-fill ms-1"
         *ngFor="let back of (isMobile ? (getBackPrices(runner.odds) | slice:0:1) : getBackPrices(runner.odds)); let i = index">

      <div class="price">{{ k }}</div>

      <div class="size">10.25</div>

    </div>

  </div>

</div>
</div>
</div>
