<h4>{{ marketboos?.mname }}</h4>
 <div class="runner-row col-md-12 col-lg-12"
     *ngFor="let runner of marketboos?.section"
     style="background:linear-gradient(to top, #ffffff2b 92%, #00ff451f 53%)">

  <div class="runner-info col-md-6 col-lg-6">
    <div class="runner-name">
      {{ runner.nat }}
      <div 
    class="pnl">
  </div>
    </div>  
  </div>
 
  <div class="col-md-6 col-lg-6 margin">
  
<div class="prices-group back-group" style="float: right;">
  <div class="price-box back-box"
       *ngFor="let back of (isMobile ? (getBackPrices(runner.odds) | slice:0:1) : getBackPrices(runner.odds)); let i = index">

    <ng-container *ngIf="marketboos?.status === 'SUSPENDED'">
      <div class="lock-icon">🔒</div>
    </ng-container>
    
       <ng-container *ngIf="back && marketboos?.status !== 'SUSPENDED'" >
      <div class="price">{{ back.odds }}</div>
      <div class="size">{{ back.size | numberFormat }}</div>
    </ng-container>
     
  </div>
</div>
<!-- <div class="prices-group lay-group" style="margin-left: 2px;">
  <div class="price-box lay-box"
       *ngFor="let lay of (isMobile ? (getLayPrices(runner.odds) | slice:0:1) : getLayPrices(runner.odds)); let i = index">
       <ng-container *ngIf="lay && marketboos?.status !== 'SUSPENDED'" >
      <div class="price">{{ lay.odds }}</div>
      <div class="size">{{ lay.size | numberFormat }}</div>
    </ng-container>
     
  </div>
</div> -->
</div>
</div>