<div class="betslip-card">
   
  <div class="betslip-header">
    <div>
      <div class="betslip-title">Bet Slip
       <button style="margin-right: 7px;" class="btn btn-primary" (click)="openBetSlipSetting()">
            <i class="fa fa-edit"></i>    
       </button>
      </div>
      <span class="betslip-subtitle">Review your selection</span>
    </div>
    <button type="button" class="header-close" title="Close" (click)="close()">×</button>
  </div>

  <div class="betslip-body" *ngIf="bet(); else emptySlip">
    <div class="selection-section">
      <div class="selection-copy" [class.back-bet]="type()?.toLowerCase() === 'back'"
        [class.lay-bet]="type()?.toLowerCase() === 'lay'">

        <span class="section-label">Selection</span>

        <span class="selection-name" [title]="selectionName()">
          {{ selectionName() }}
          <span class="price-box" [class.odds-up]="oddsChange() === 'up'" [class.odds-down]="oddsChange() === 'down'">
            <span>{{ type() }}</span>
            <strong>{{ price() }}</strong>
          </span>
        </span>
      </div>
    </div>
    <div class="summary-grid">
      <div class="summary-item profit">
        <span>Profit</span>
        <strong>{{ profit().toFixed(2) }}</strong>
      </div>
      <div class="summary-item loss">
        <span>Loss</span>
        <strong>{{ loss().toFixed(2) }}</strong>
      </div>
    </div>

    <div class="form-row">
      <label for="stakeAmount" style="font-size:17px">Stake</label>
      <div class="stake-input-wrap">
        <span>Rs</span>
        <input id="stakeAmount" type="number" min="0" [ngModel]="stake()" (ngModelChange)="stake.set($event)"
          class="form-control" />
      </div>
    </div>

    <div class="stake-buttons" style="margin-top:1px">
      @for (btn of quickStakes; track btn) {
      <button type="button" (click)="setStake(btn.value)">
        {{ btn.value }}
      </button>
      }
    </div>


    <div class="bet-error" *ngIf="errorMessage()">
      {{ errorMessage() }}
    </div>
    <div class="actions">
      <button type="button" class="btn-cancel" (click)="close()">Cancel</button>
      <button type="button" class="btn-submit" [disabled]="stake() <= 0 || submitting()" (click)="submitBet()">
        {{ submitting() ? 'Placing...' : 'Place Bet' }}
      </button>
    </div>
  </div>

  <ng-template #emptySlip>
    <div class="empty-slip">
      <span>No bet selected</span>
    </div>
  </ng-template>
</div>